.main{

  width: 65%;
  height: auto;
  padding-left: 17%;
  padding-right: 17%;
}

.header{
  height: 300px;
}
.header1{
  float: left;
  padding-top: 35px;
  width: 25%;
  height: auto;
}
.header2{
  float: left;
  color: red;
  width:65%;
  height: auto;
  padding-top:30px;
  padding-left: 50px;


}
